input {
    keyboard {
        xkb {
            layout "us"
            variant "altgr-intl"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    // warp-mouse-to-focus

    focus-follows-mouse max-scroll-amount="0%"
}
