window-rule {
  match app-id=r#"^steam_app_"#
  open-fullscreen true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match is-active=false
    opacity 0.95
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"nemo"#
    match app-id=r#"xdg-desktop-portal-gtk"#
    open-floating true

    // max-width 800
    // max-height 550
}

window-rule {
    match app-id=r#"^qalculate-gtk$"#
    open-floating true
}

window-rule {
    // match app-id=r#"^org\.updates\.gentoo$"#
    match app-id=r#"^tui\.tools\..*$"#
    open-floating true
    default-floating-position x=10 y=10 relative-to="top-right"
}

window-rule {
    match app-id=r#"^1Password$"#
    block-out-from "screencast"
}

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

