spawn-sh-at-startup "eval \"$(dbus-launch --sh-syntax)\""
spawn-sh-at-startup "dbus-update-activation-environment I3SOCK SWAYSOCK WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=niri NO_AT_BRIDGE=1 DBUS_SESSION_BUS_ADDRESS DBUS_SESSION_BUS_PID DBUS_SESSION_BUS_WINDOWID"
spawn-sh-at-startup "wlsunset -l -5.1 -L -42.7"

spawn-at-startup "qs"
spawn-at-startup "stasis"
spawn-at-startup "awww-daemon"
spawn-at-startup "wl-clipboard-history"
spawn-at-startup "gentoo-pipewire-launcher"
spawn-at-startup "udiskie"
spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
spawn-at-startup "xwayland-satellite"
